{% extends '::base_with_right_sidebar.html.twig' %}
{% form_theme commentForm 'bootstrap_3_layout.html.twig' %}
{% block content %}
    <div class="blog-post">
        {% include '::article_header.html.twig' %}
        <div class="post-content">
            {{ article.content }}
        </div>
        {% include '::article_footer.html.twig' %}
        {% if app.user and ratingForm is defined %}
            <h4>Rate this article</h4>
            <!-- Rating -->
            <div class="set-rating-block">
                {{ form_start(ratingForm, {'label': 'adasd', 'attr': {'onclick': ''}}) }}
                    {%- block choice_widget_expanded -%}
                        <div {{ block('widget_container_attributes') }}>
                            {%- for child in ratingForm %}
                                {% if child.vars.name == 'rating' %}
                                    <div class="form-group text-center">
                                        {%- for radioButton in child %}
                                            {%- block form_label %}
                                                <label class="star-radio" class="required" for="{{ radioButton.vars.id }}">
                                                    {%- block form_widget -%}
                                                        <input type="radio" name="{{ radioButton.vars.full_name }}" required="required" value="{{ radioButton.vars.value }}" id="{{ radioButton.vars.id }}" onchange="changeRatingValue()"><div class="glyphicon glyphicon-star"></div>
                                                    {%- endblock -%}
                                                </label>
                                            {% endblock -%}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            {% endfor -%}
                        </div>
                    {%- endblock choice_widget_expanded -%}
                <div class="rating-submit">
                    <button type="submit" class="btn btn-small">Rate</button>
                </div>
                {{ form_end(ratingForm) }}
            </div>
            <!-- Rating -->
        {% endif %}
        <!-- Comments -->
        <a id="comments"></a>
        <div class="post-coments">
            <h4>Comments ({{ article.comments|length }})</h4>
            <ul class="post-comments">
                {% for comment in article.comments %}
                    <li>
                        <div class="comment-wrapper">
                            <div class="comment-author"><img src="{{ asset('images/anonimous.jpg') }}" alt="{{ comment.author.username }}"> {{ comment.author.username }}</div>
                            <p>
                                {{ comment.message }}
                            </p>
                            <!-- Comment Controls -->
                            <div class="comment-actions">
                                <span class="comment-date">
                                    <a href=""><i class="glyphicon glyphicon-pencil"></i></a>&nbsp;&nbsp;&nbsp;
                                    <a href=""><i class="glyphicon glyphicon-remove"></i></a>&nbsp;&nbsp;&nbsp;
                                    {{ comment.createdAt|date("d M, Y") }}
                                </span>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            {% if app.user %}
                <!-- Comments Form -->
                <h4>Leave a Comment</h4>
                <div>
                    {{ form_start(commentForm) }}
                    {{ form_errors(commentForm) }}
                    {{ form_row(commentForm.message) }}
                    <div class="form-group">
                        <button type="submit" class="btn btn-large pull-right">Send comment</button>
                    </div>
                    <div class="clearfix"></div>
                    {{ form_end(commentForm) }}
                </div>
                <!-- End Comment Form -->
            {% endif %}
        </div>
        <!-- End Comments -->
    </div>
{% endblock %}