{% extends '::base_with_right_sidebar.html.twig' %}
{% form_theme commentForm 'bootstrap_3_layout.html.twig' %}

{% block content %}
    <div class="blog-post">
        {% include '::article_header.html.twig' %}
        <div class="post-content">
            {{ article.content }}
        </div>
        {% include '::article_footer.html.twig' %}
        <h4>Put estimate for this article</h4>
        <div class="set-rating-block">
            <form class=""  onclick="">
                <div class="form-group text-center">
                    <label class="star-radio" for="r1"><input type="radio" name="rating" value="1" id="r1" onchange="changeRatingValue()"><div class="glyphicon glyphicon-star"></div></label>
                    <label class="star-radio" for="r2"><input type="radio" name="rating" value="2" id="r2" onchange="changeRatingValue()"><div class="glyphicon glyphicon-star"></div></label>
                    <label class="star-radio" for="r3"><input type="radio" name="rating" value="3" id="r3" onchange="changeRatingValue()"><div class="glyphicon glyphicon-star"></div></label>
                    <label class="star-radio" for="r4"><input type="radio" name="rating" value="4" id="r4" onchange="changeRatingValue()"><div class="glyphicon glyphicon-star"></div></label>
                    <label class="star-radio" for="r5"><input type="radio" name="rating" value="5" id="r5" onchange="changeRatingValue()"><div class="glyphicon glyphicon-star"></div></label>
                </div>
                <div class="rating-submit">
                    <button type="submit" class="btn btn-small">Estimate</button>
                </div>
            </form>
        </div>
        <!-- Comments -->
        <a id="comments"></a>
        <div class="post-coments">
            <h4>Comments ({{ article.comments|length }})</h4>
            <ul class="post-comments">
                {% for comment in article.comments %}
                    <li>
                        <div class="comment-wrapper">
                            <div class="comment-author"><img src="{{ asset('images/anonimous.jpg') }}" alt="{{ comment.commentator.name }}"> {{ comment.commentator.name }}</div>
                            <p>
                                {{ comment.message }}
                            </p>
                            <!-- Comment Controls -->
                            <div class="comment-actions">
                                <span class="comment-date">{{ comment.createdAt|date("d M, Y") }}</span>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <!-- Comments Form -->
            <h4>Leave a Comment</h4>
            <div>
                {{ form_start(commentForm) }}
                {{ form_errors(commentForm) }}
                {{ form_row(commentForm.commentator.name) }}
                {{ form_row(commentForm.commentator.email) }}
                {{ form_row(commentForm.message) }}
                <div class="form-group">
                    <button type="submit" class="btn btn-large pull-right">Send comment</button>
                </div>
                <div class="clearfix"></div>
                {{ form_end(commentForm) }}
            </div>
            <!-- End Comment Form -->
        </div>
        <!-- End Comments -->
    </div>
{% endblock %}